* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: "OpenSans Bold";
  
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url(fonts/OpenSans-Regular.woff);  
  font-weight: 400;
  font-style: normal;
}

.header {
  position: relative;
  background-image: url(img/banner-bg.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: black;
}

.header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}

.conteiner {
  max-width: 1220px;
  min-height: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-top: 28px;
  z-index: 2;
  position: relative;
}

.logo {
  width: 179px;
  padding-left: 4px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.burger {
  display: none;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}
.burger-menu {
  width: 23px;
  height: 3px;
  background-color: #ffffff;
  position: relative;
}
.burger-menu::after {
  content: "";
  background-color: #ffffff;
  width: 23px;
  height: 3px;
  position: absolute;
  top: -9px;
  left: 0;
}
.burger-menu::before {
  content: "";
  background-color: #ffffff;
  width: 23px;
  height: 3px;
  position: absolute;
  top: 9px;
  left: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  font-family: "OpenSans Regular", sans-serif;
  gap: 35px;
}

.menu a {
  color: inherit;
  font-size: 0.8125rem;
  position: relative;
}

.menu-home:hover::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.menu-posts:hover::before {
  content: "";
  width: 48px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.menu-articles:hover::before {
  content: "";
  width: 48px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.menu-tags:hover::before {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.menu-themes:hover::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.menu-contacts:hover::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.header-text {
  width: 710px;
  box-sizing: border-box;
  padding-top: 105px;
  padding-bottom: 125px;
  margin-left: auto;
  margin-right: auto;
}

.header-text h1 {
  font-size: 2.8125rem;
  font-family: "OpenSans Bold", sans-serif;
  line-height: 75px;
}
.trends {
  margin-top: 59px;
  text-align: center;
}
.trends-lable {
  font-size: 1.25rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: "OpenSans Bold", sans-serif;
  position: relative;
}

.trends-lable::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 70px;
  height: 3px;
  bottom: -10px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.trends-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 4px;
}

.trends-card {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 315px;
}
.trends-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.trends-body {
  display: flex;
  align-items: flex-end;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 22px 15px 21px;
}

.text-trends {
  display: flex;
  flex-direction: column;
  padding: 32px 20px 29px 32px;
  border: 3px solid rgba(181, 159, 91, 0.5);
  text-transform: uppercase;
  text-align: start;
  font-family: "OpenSans Bold", sans-serif;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.text-trends a {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 26px;
}
.text-trends a:hover {
  color: #b59f5b;
}

.post-list {
  width: 100%;
  display: flex;
  margin-top: 64px;
}

.post-list-conteiner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.main-content {
  margin-left: 15px;
}

.content {
  width: 780px;
  margin-bottom: 60px;
  display: flex;
}

.content-text {
  box-sizing: border-box;
}

.img-content {
  width: 381px;
  max-height: 294px;
  margin-right: 30px;
}

.content-text a {
  font-size: 1.25rem;
  font-family: "OpenSans Bold", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.content-text a:hover {
  color: #b59f5b;
}

.content-text p {
  font-size: 0.9375rem;
  font-family: "OpenSans Regular", sans-serif;
  line-height: 22px;
  margin: 0;
}

.content-text p:not(:first-child) {
  margin-top: 10px;
}

.tag-content {
  margin-top: -12px;
  margin-bottom: -5px;
  bottom: 1px;
  display: flex;
  gap: 19px;
}

.tag-content a {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  line-height: 40px;
  text-transform: uppercase;
  color: #b59f5b;
  position: relative;
}

.lifestyle:hover::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #b59f5b;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.travel:hover::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #b59f5b;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.health:hover::before {
  content: "";
  width: 55px;
  height: 1px;
  background-color: #b59f5b;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.music:hover::before {
  content: "";
  width: 45px;
  height: 1px;
  background-color: #b59f5b;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.food:hover::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #b59f5b;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.art:hover::before {
  content: "";
  width: 33px;
  height: 1px;
  background-color: #b59f5b;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.interior:hover::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #b59f5b;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.publication {
  display: flex;
  gap: 12px;
  line-height: 40px;
  margin-top: 17px;
  margin-bottom: 33px;
}

cite {
  box-sizing: border-box;
  font-style: normal;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.75rem;
  color: #000000;
}

time {
  box-sizing: border-box;
  font-size: 0.75rem;
  font-family: "OpenSans Regular", sans-serif;
  color: #888888;
}

.music-text {
  margin-bottom: 8px;
}

.aside-content {
  width: 272px;
  margin-right: 15px;
}

.img-new-post {
  width: 70px;
  height: 70px;
  margin-left: 1px;
  margin-right: 19px;
}

.new-post-content {
  margin-bottom: 22px;
  display: flex;
}

.new-post h3 {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: -5px;
  margin-bottom: 43px;
  margin-left: 7px;
}

.new-post h3::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 66px;
  height: 3px;
  bottom: -14px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.new-post-content a {
  font-size: 0.875rem;
  font-family: "OpenSans Bold", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.new-post-content a:hover {
  color: #b59f5b;
}

.new-post-text {
  box-sizing: border-box;
  margin-top: -5px;
  line-height: 21px;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 1px;
  margin-top: 61px;
}

.search-text {
  border: none;
  height: 48px;
  width: 223px;
  background-color: #f4f7f6;
  padding-left: 18px;
  outline: none;
}

.search-text:focus {
  border: 1px solid #b59f5b;
}

.search-button {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
  background-image: url(img/search.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.search-button:hover {
  background-color: #323232;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.new-post {
  box-sizing: border-box;
  margin-bottom: 57px;
}

.mailing {
  display: flex;
  flex-direction: column;
  margin-bottom: 57px;
  box-sizing: border-box;
}

.mailing h3 {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 36px;
  margin-left: -3px;
}

.mailing h3::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 66px;
  height: 3px;
  bottom: -14px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.mailing-text {
  width: 271px;
  height: 48px;
  margin-left: 1px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 17px;
  margin-bottom: 17px;
  outline: none;
  box-sizing: border-box;
}

.mailing-text:focus {
  border: 1px solid #b59f5b;
}

.mailing-button {
  width: 271px;
  height: 48px;
  margin-left: 1px;
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.mailing-button:hover {
  background-color: #323232;
}

.tag {
  box-sizing: border-box;
  margin-bottom: 48px;
}

.tag h3 {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 36px;
  margin-left: 3px;
}

.tag h3::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 66px;
  height: 3px;
  bottom: -14px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.tag-item {
  display: inline-block;
  border: 3px solid #eeeeee;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-right: 5px;
  margin-bottom: 6px;
}

.tag-item:hover {
  border: 3px solid #b59f5b;
}

.tag-item a {
  display: block;
  padding: 4px 12px 4px 12px;
  color: #000000;
}

.tag-list {
  margin-left: 1px;
}

.themes h3 {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 33px;
  margin-left: 5px;
}

.themes h3::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 66px;
  height: 3px;
  bottom: -14px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.themes-item {
  margin-left: 1px;
  margin-bottom: 11px;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  padding-bottom: 13px;
  border-bottom: 1px solid #eeeeee;
}

.themes-item a {
  color: #000000;
}

.themes-item a:hover {
  color: #b59f5b;
}

.numb-items {
  vertical-align: super;
  font-family: "OpenSans Bold", sans-serif;
  color: #b59f5b;
  font-size: 0.75rem;
}
.shop-section {
  margin: 0 auto 67px auto;
  max-width: 1235px;
}
.heading-shop {
  text-align: center;
  font-family: "OpenSans Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 44px;
  position: relative;
  font-size: 1.25rem;
}

.heading-shop::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 70px;
  height: 3px;
  bottom: -13px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.shop {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-shop {
  width: 300px;
  max-height: 205px;
  object-fit: cover;
  object-position: 0 0;
}
.shop-text {
  width: 340px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  outline: 3px solid #b59f5b;
  padding-top: 47px;
  padding-right: 15px;
  padding-left: 18px;
  padding-bottom: 25px;
  margin-top: -30px;
  flex-grow: 1;
}

.shop-description {
  font-family: "OpenSans Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 22px;
}
.shop-description a {
  position: relative;
  color: #b59f5b;
}

.shop-description a:hover {
  text-decoration: underline;
}

.price {
  display: flex;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 17px;
  flex-direction: column;
}

.price span {
  font-size: 0.9375rem;
  text-decoration: line-through;
}

.title-product {
  font-size: 1.25rem;
  font-family: "OpenSans Bold", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  line-height: 28px;
}
.offer {
  margin-top: 22px;
  padding-right: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in-shop {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  font-family: "OpenSans Bold", sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
}
.in-shop:hover {
  background-color: #323232;
}

footer {
  width: 100%;
}

.footer-content {
  width: 1140px;
  height: 83px;
  margin: 0 auto;
  background-color: #f4f7f6;
  text-align: center;
  padding: 0 15px;
}

.social-network {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
}

.social-network-list {
  margin-left: 5px;
  display: flex;
  height: 100%;
  gap: 23px;
  align-items: center;
  justify-content: center;
}

.social-network-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.social-network-dribble {
  background-image: url(img/001-dribbble.svg);
}

.social-network-pinterest {
  background-image: url(img/001-pinterest.svg);
}

.social-network-tumblr {
  background-image: url(img/003-tumblr.svg);
}

.copyright {
  margin-right: -11px;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.75rem;
  text-decoration: none;
  color: #999999;
  padding-bottom: 40px;
}

.pop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup-content {
  position: relative;
  background-color: #ffffff;
  width: 43vh;
  height: 64vh;
  box-sizing: border-box;
  padding: 0 30px 0 30px;
  top: 81px;
}

.closepop {
  position: absolute;
  background-image: url(img/form-x.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  width: 18px;
  height: 18px;
  border: none;
  top: -30px;
  left: 375px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.header-popup {
  position: relative;
  text-align: center;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 1.25rem;
  margin-top: 45px;
  margin-bottom: 36px;
}
.header-popup::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 70px;
  height: 3px;
  bottom: -10px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.text-popup {
  font-family: "OpenSans Regular", sans-serif;
  font-size: 0.82rem;
  margin-bottom: 6px;
  line-height: 18px;
}

.pop-form {
  display: flex;
  flex-direction: column;
}

.select-group {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(img/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 96% center;
  height: 50px;
  padding-left: 18px;
  background-color: lightgrey;
  margin-bottom: 30px;
  font-size: 0.875rem;
  border: none;
  background-color: #f4f7f6;
}

.check-group {
  display: flex;
  gap: 14px;
  font-size: 0.875rem;
  font-family: "OpenSans Regular", sans-serif;
  padding-left: 2px;
  margin-bottom: 27px;
}

.input-control {
  display: none;
}

.input-text {
  cursor: pointer;
  font-size: 0.875rem;
  font-family: "OpenSans Regular", sans-serif;
}
.input-text::before {
  content: "";
  background-image: url(img/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size: 19px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
  cursor: pointer;
}

.input-control:checked + .input-text::before {
  background-image: url(img/form-circle.svg);
}
.offers-popup {
  font-family: "OpenSans Regular", sans-serif;
  width: 100%;
  height: 15vh;
  padding-top: 18px;
  padding-left: 21px;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background-color: #f4f7f6;
  margin-bottom: 22px;
}
.popup-button {
  width: 100%;
  height: 48px;
  margin-left: 1px;
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  text-transform: uppercase;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(img/banner-bg-tablet.jpg);
  }
  .header-menu {
    display: flex;
    padding: 0 32px;
  }
  .logo {
    width: 158px;
  }
  .menu {
    display: none;
  }
  .burger {
    display: flex;
  }
  .conteiner {
    min-height: 350px;
    padding-top: 43px;
  }

  .header-text {
    width: 100%;
    padding-top: 90px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 0;
  }
  .header-text h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
  .trends-lable {
    font-size: 1.125rem;
  }
  .trends {
    margin-top: 44px;
  }
  .trends-lable {
    margin-bottom: 30px;
  }
  .trends-card {
    min-height: auto;
  }
  .text-trends {
    padding: 39px 16px 26px 29px;
  }
  .trends-body {
    height: 100%;
    padding: 0px 19px 13px 20px;
  }
  .trends-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(70%, 1fr));
    gap: 7px;
    justify-content: space-between;
  }
  .text-trends h3 > a {
    font-size: 1rem;
    line-height: 22px;
  }

  .post-list {
    margin-top: 202px;
  }
  .post-list-conteiner {
    padding: 0 20px;
  }
  .main-content {
    margin-left: 15px;
    margin-right: 5%;
  }
  
  .tag-content {
    margin-top: -19px;
    margin-bottom: -1px;
  }
  .new-post-content {
    margin-bottom: 21px;
  }
  .content {
    width: 100%;
    flex-direction: column;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 42px;
  }

  .content:last-child {
    border-bottom: none;
  }

  .img-content {
    width: 100%;
    max-height: 100%;
    margin: 0;
  }

  .content-text {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .content-text h2 > a {
    font-size: 1.063rem;
    line-height: 22px;
  }
  .publication {
    margin-bottom: 17px;
  }
  .shop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .shop {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: normal;
    gap: 30px;
    margin-bottom: 30px;
  }
  .heading-shop {
    margin-top: 1px;
    font-size: 1.125rem;
    margin-bottom: 41px;
  }
  .shop-picture {
    width: 100%;
  }
  .img-shop {
    max-height: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .shop-text {
    width: 100%;
    
  }
  .title-product {
    font-size: 1.063rem;
  }

  .footer-content {
    width: 90%;
    padding: 0;
  }
  .social-network {
    margin-bottom: 45px;
  }
  .popup-content {
    width: 45vh;
    height: 69vh;
    top: 100px;
  }
  .closepop {
    background-size: 30px;
    width: 30px;
    height: 30px;
    top: -36px;
    left: 360px;
  }
  .header-popup {
    font-size: 1.125rem;
    margin-top: 52px;
  }
  .text-popup {
    font-size: 0.8rem;
    margin-bottom: 7px;
  }
  .check-group {
    gap: 35px;
    padding-left: 0;
    margin-bottom: 29px;
  }
  .input-text::before {
    background-size: 25px;
    width: 25px;
    height: 25px;
    margin-right: 4px;
  }
  .offers-popup {
    padding-top: 16px;
    padding-left: 18px;
    margin-bottom: 27px;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .header {
    background-image: url(img/banner-mobile.jpg);
  }
  .header-menu {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 0 16px;
  }
  .logo {
    width: 270px;
    padding: 181px 0 0 0;
  }
  .menu {
    display: none;
  }
  .burger {
    display: flex;
  }
  .conteiner {
    min-height: 598px;
    padding-top: 40px;
  }
  .header-text {
    width: 100%;
    box-sizing: border-box;
    padding: 35px 10px 0 15px;
  }
  .header-text h1 {
    font-size: 1.625rem;
    line-height: 36px;
  }
  .trends-lable {
    font-size: 1rem;
  }
  .trends {
    margin-top: 40px;
  }
  .trends-lable {
    margin-bottom: 36px;
  }
  .trends-card {
    min-height: 100%;
  }
  .text-trends {
    padding: 34px 24px 24px 18px;
  }
  .trends-body {
    height: 100%;
    padding: 0px 16px 13px 16px;
  }
  .trends-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(34%, 1fr));
    gap: 7px;
  }
  .text-trends h3 > a {
    font-size: 1rem;
    line-height: 22px;
  }

  .post-list {
    margin-top: 310px;
  }
  .post-list-conteiner {
    display: flex;
    margin: 0 15px;
    padding: 0;
    flex-direction: column;
  }
  .main-content {
    margin-left: 0;
    margin-right: 0;
  }

  .tag-content {
    margin-top: -18px;
    margin-bottom: -4px;
  }
  .content {
    width: 100%;
    flex-direction: column;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
  }

  .content:last-child {
    border-bottom: none;
  }

  .img-content {
    width: 100%;
    max-height: 100%;
    margin: 0 0 20px 0;
  }

  .content-text {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .content-text h2 > a {
    font-size: 1rem;
    line-height: 20px;
  }
  .content-text p {
    font-size: 0.875rem;
    line-height: 20px;
  }
  .content-text p:not(:first-child) {
    margin-top: 0;
  }
  .aside-content {
    width: 100%;
  }
  .new-post h3 {
    margin-left: 0;
    font-size: 1rem;
    margin-top: 7px;
    margin-bottom: 40px;
  }
  .search-text {
    width: 100%;
    padding-left: 16px;
  }
  .search-button {
    width: 55px;
  }
  .new-post {
    box-sizing: border-box;
    margin-bottom: 39px;
  }
  .mailing h3 {
    font-size: 1.063rem;
    margin-left: -2px;
  }
  .mailing-text {
    width: 100%;
  }
  .mailing-button {
    width: 100%;
  }
  .mailing {
    margin-bottom: 38px;
  }
  .tag {
    margin-bottom: -5px;
  }
  .tag h3 {
    font-size: 1rem;
    margin-left: -3px;
    margin-bottom: 34px;
  }
  .themes h3 {
    font-size: 1rem;
    margin-bottom: 34px;
    margin-left: -3px;
  }
  .themes-item {
    margin-bottom: 10px;
  }

  .publication {
    display: flex;
    gap: 9px;
    line-height: 14px;
    margin-top: 18px;
    margin-bottom: 16px;
  }
  .shop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .shop {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .heading-shop {
    margin-top: 31px;
    margin-bottom: 43px;
    font-size: 1rem;
  }
  .shop-card {
    margin-bottom: 30px;
  }
  .shop-picture {
    width: 100%;
  }
  .img-shop {
    max-height: none;
    width: 100%;
    padding-left: 19px;
    padding-right: 22px;
    box-sizing: border-box;
  }

  .shop-text {
    width: 100%;
  }
  .title-product {
    font-size: 1.063rem;
  }

  .footer-content {
    width: 90%;
    padding: 0;
  }
  .social-network {
    margin-bottom: 45px;
  }
  .popup-content {
    width: 39vh;
    height: 65vh;
    top: -92px;
  }
  .closepop {
    background-size: 30px;
    width: 30px;
    height: 30px;
    top: -33px;
    left: 300px;
  }
  .popup-content {
    padding: 0 27px 0 22px;
  }
  .header-popup {
    font-size: 1rem;
    margin-top: 26px;
  }
  .text-popup {
    font-size: 0.8rem;
    margin-bottom: 7px;
  }
  .check-group {
    gap: 36px;
    padding-top: 2px;
    margin-bottom: 27px;
  }
  .input-text::before {
    background-size: 25px;
    width: 25px;
    height: 25px;
    margin-right: 4px;
  }
  .offers-popup {
    margin-bottom: 32px;
  }
}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trends-container {
    grid-template-columns: repeat(4, 24%);
    grid-auto-flow: row;
  }
  .text-trends {
    padding: 39px 3px 26px 5px;
  }
  .text-trends ul {
    display: flex;
    flex-direction: column;
  }
  .trends-body {
    padding: 0px 5px 15px 5px;
  }
  .post-list {
    margin-top: -100px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trends-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trends-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
  .post-list {
    margin-top: -200px;
  }
  .text-trends ul {
    display: flex;
    flex-direction: column;
  }
  .trends-body {
    padding: 0px 5px 15px 5px;
  }
}